body {
    font-family: Verdana;
    background-color: blueviolet;
    text-align: center;
}

#header {
    font-weight: bold;
    font-style: italic;
    font-size: 2em;
    color: yellow;
    margin: 0.5em;
}


#board {
    width: 500px;
    height: 500px;
    border: 5px solid firebrick;
    display: flex;
    flex-wrap: wrap;
    margin: auto auto;
    /*transform: rotateY(0);
    transition: transform 1s;*/
}

.classCards {
    width: 98px;
    height: 98px;
    border: 1px solid black;
    border-radius: 10px;
}

.classEmptyCards {
    width: 100px;
    height: 100px;
}

.classInfo{
    font-weight: bold;
    font-size: 1.5em;
    color: yellow;
}

.winLoseBox {
    display: block;
    position: absolute;
    top: 30%;
    left: 40%;
    width: 300px;
    height: 250px;
    border: 5px solid firebrick;
    background-color: grey;
    transform: translate(0, -3000px);
    /* transform: translate(0, 0); */
    transition: transform 1s;
    color: yellow;
}

.newGame {
    text-decoration: none;
    color: yellow;
    font-size: 1.5em;
    font-weight: bold;
    border: 2px solid yellow;
    padding: 0.5em;
    margin: 0.5em;
}

.newGame:hover {
    background-color: silver;
}