body {
    font-family: Verdana;
    background-color: lightblue;
    text-align: center;
}

#board {
    width: 500px;
    height: 500px;
    border: 5px solid blueviolet;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0;
    transform: rotate(0);
    transition: transform 1s;
}

.classCards {
    width: 98px;
    height: 98px;
    border: 1px solid black;
    border-radius: 10px;
}

.classEmptyCards {
    width: 100px;
    height: 100px;
}

#idTurns{
    font-weight: bold;
    font-size: 1.5em;
}
